/** CSS STYLE **/

:root {
   --white: #fff;
   --tranclecent-white: #d7ccc0;
   --bright: #f5f4f0;
   --main: #fe8a02;
   --main-dark: #42413c;
   --dark: #2a2626;
   --translucent-dark: #908d8b;
   --brown: #b09a81;
   --blue: #1085c5;
   --font-main: #2A2626;
}

.section_settings {
  width: 1440px;
  display: block;
  max-width: 1110px;
  margin: 100px 0;
  inline-size: 1.2em;
  font-family: "Neucha", serif;

}

p {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-size: 16px;
  inline-size: 1.6em;
  color: var(--font-main);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  height: 914px;
}

.video_section {
  height: 914px;
  top: 914px;
}

.navigation_section {
 height: 891px;
 top:1828px;
}

.Ikea_Effect {
  height: 905px;
  top: 2719px;
}

.Premature_Optimization {
  height: 855px;
  top: 3624px;
}

.Distorsion_of_Novelty {
  height: 880px;
  top: 4479;
}

.Hyperbolic_Depreciation {
  height: 937px;
  top: 5359px;
}

.Errors_of_Planing {
  height: 919px;
  top: 6296px;
}

footer {
  height: 581px;
  top: 7215px;
}