/** CSS STYLE **/

:root {
   --white: #fff;
   --tranclecent-white: #d7ccc0;
   --bright: #f5f4f0;
   --main: #fe8a02;
   --main-dark: #42413c;
   --dark: #2a2626;
   --translucent-dark: #908d8b;
   --brown: #b09a81;
   --blue: #1085c5;
   --font-main: #2A2626;
}

html {
  color: var(--main);
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

.section_settings {
  position: relative;
  background-color: var(--white);
}

.section_settings::before {
  position:absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

p {
  line-height: 1.6em;
  color: var(--font-main);
}

h1 {
  font-family: "Neucha", serif;
  font-size: 72px;
}

h2 {
  font-family: "Neucha", serif;
  font-size: 60px;
}

h3 {
  font-family: "Neucha", serif;
  font-size: 34px;
}

.header {
  height: 714px;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header-image {
  position:absolute;
  left: 310px;
  top: 55px;
  height: 525px;
}

.row {
  display:flex;
  justify-content: space-between;
}

.flex-50 {
  flex-basis: 50%;
}

.button-org {
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  position: relative;
  top: 40px;
  width: 148px;
  padding: 12px 24px;
  text-decoration: none;
}

.text-dark {
  color: var(--dark);
}

p,
h1,
h2,
h3 {
  z-index: 1;
}